# Docker compose to spin up a dev version of the gateway
version: '3.5'

networks:
    agency-network:
      name: agency-network
      driver: bridge
      ipam:
        driver: default
        config:
          -
            subnet: 10.0.0.0/24

services:
  protocol-gateway:
    env_file:
      - ./.env
    build:
      context: ./
      dockerfile: Dockerfile.production
    command: npm run start:debug
    image: protocol-gateway
    container_name: protocol-gateway
    working_dir: /www
    ports:
      - "8080:8080"
    expose: 
      - "8080"
    volumes:
      - ./:/www
    networks:
      - agency-network
    tty: true
