version: 2.1

jobs:
  build-and-test:
    executor:
      name: node/default
      tag: '14.15.1'
    steps:
      - checkout
      - run: npm install
      - run: npm run build
      - run: npm run lint
      - run: npm run test:local
      - run: node --version

  integration-test:
    machine:
      docker_layer_caching: true
      image: ubuntu-1604:201903-01
    steps:
      - checkout
      - run:
          name: Setup shell environment
          command: |
            ./scripts/setup_env.sh
            echo ' [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"' >> $BASH_ENV
      - run:
          name: Node npm setup
          command: |
              npm install nodemon --save-dev
              npm install
              nvm install v14.15.1
              node -v
              nvm alias default v14.15.1
      - run:
          name: Start docker compose and wait for readiness
          command: |
            docker network ls
            docker-compose -f docker-compose.ci.yml build
            set -x
            docker-compose -f docker-compose.ci.yml up -d
            sleep 15
            docker-compose -f docker-compose.ci.yml logs
      - run:
          name: Run prod tests
          command: |
            npm run test:prod

  protocol-integration-tests:
    machine:
      image: ubuntu-1604:201903-01
    steps:
      - run:
          name: Pull protocol-integration-tests
          command: git clone https://github.com/kiva/protocol-integration-tests ./
      - run:
          name: Setup environment
          command: |
            ./scripts/setup_env.sh
            echo $AUTH0_ENV | base64 --decode >> .env
            echo ' [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"' >> $BASH_ENV
      - run:
          name: Node npm setup
          command: |
            nvm install v14.15.1
            node -v
            nvm alias default v14.15.1
      - run:
          name: Get ACAPy
          command: docker pull bcgovimages/aries-cloudagent:py36-1.15-1_0.6.0
      - run:
          name: Override for gateway image
          command: ./scripts/setup_override.sh -r protocol-gateway
      - run:
          name: Start docker compose and wait for readiness
          command: |
            docker-compose -f docker-compose.yml build
            docker-compose -f docker-compose.yml up -d
            sleep 20
            docker-compose -f docker-compose.yml logs
      - run:
          name: Healthcheck services
          command: ./scripts/healthstack.sh
      - run:
          name: Setup integration tests
          command: |
            npm install
            ./scripts/setup_fixtures.sh
      - run:
          name: Running integration tests
          command: |
            if ! npm run test ; then
              echo "Tests failed. Server logs:";
              docker-compose -f docker-compose.yml logs;
              exit 1;
            fi


workflows:
  build-test-deploy:
    jobs:
      - build-and-test:
          filters: # run for all branches AND tags
            tags:
              only: /.*/
      - integration-test:
          requires:
            - build-and-test
          filters: # run for all branches AND tags
            tags:
              only: /.*/
      - protocol-integration-tests:
          requires:
            - build-and-test
          filters: # run for all branches AND tags
            tags:
              only: /.*/
      - docker/publish:
          requires:
            - integration-test
          filters: # only run for semver tagged versions
            tags:
              only: /^([0-9]+)\.([0-9]+)\.([0-9]+)/
            branches:
              ignore: /.*/
          update-description: true
          dockerfile: Dockerfile.production
          image: kivaprotocol/protocol-gateway
          tag: << pipeline.git.tag >>,latest

orbs:
  node: circleci/node@4.1.0
  docker: circleci/docker@1.3.0
